<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">



      <form roll="form" name="loginForm" class="login-form" novalidate ng-submit="login(loginForm)">
        <img id="login-logo" width="50" src="img/bbwt.png">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" name="username" required placeholder="Username" ng-model="user.username">
            </label>
            <label class="item item-input">
                <input type="password" name="password" required placeholder="Password" ng-model="user.password">
            </label>
        </div>
        <button type="submit" ng-disabled="loginForm.$invalid || dataLoading" class="button button-block button-clear button-dark">Login</button>
      </form>

      <div class="login-options">
        <button type="button"  ng-disabled="dataLoading" class="button button-block button-small button-clear button-dark" ng-click="openRegisterModal()">Create an account</button>
        <button type="button" ng-disabled="dataLoading" class="button button-block button-small button-clear button-dark" ng-click="forgotPasswordModal()">Forgot password</button>
      </div>

      <div ng-show="dataLoading" class="spinner">
        <ion-spinner icon="android"></ion-spinner>
      </div>

  </ion-content>

  <script id="register-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-dark">
          <div class="h1 title">Create Account</div>
          <button class="button button-clear button-light" ng-click="closeRegisterModal()">Close</button>
      </ion-header-bar>
      <ion-content>
        <form role="form" novalidate name="registerForm" ng-submit="register(registerForm, user)">
          <ion-list>
            <label class="item item-input item-floating-label">
              <span class="input-label">First name</span>
              <input type="text" autocomplete="off" name="firstName" maxlength="50" required ng-maxlength=50 placeholder="First name" ng-model="user.firstName">
            </label>

            <label class="item item-input item-floating-label">
              <span class="input-label">Last name</span>
              <input type="text" autocomplete="off" name="lastName" maxlength="50" required ng-maxlength=50 placeholder="Last name" ng-model="user.lastName">
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">Email</span>
              <input class="form-control" autocomplete="off" placeholder="Email" id="email" name="email" type="email" ng-model="user.email" required>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input type="text" autocomplete="off" name="username" id="username" ng-minlength="3" ng-maxlength="15" required placeholder="Username"  ng-pattern="/^[a-zA-Z0-9_-]*$/" ng-change="usernameCheck(registerForm)" ng-model="user.username" ng-model-options="{debounce: 1000}">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" autocomplete="off" name="password" required ng-minlength="5" ng-maxlength="100" placeholder="Password" ng-model="user.password">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Confirm password</span>
                <input type="password" autocomplete="off" name="confirmPassword" compare-to="user.password" required ng-minlength="5" ng-maxlength="100" placeholder="Confirm password" ng-model="user.confirmPassword">
            </label>

          </ion-list>

          <div class="padding">
            <div class="form-error" ng-show="registerForm.email.$error.email">Email is invalid</div>
            <div class="form-error" ng-show="registerForm.username.$error.unique">The Username is already in use</div>
            <div class="form-error" ng-show="registerForm.username.$error.pattern">The Username can only contain letters, numbers, hyphens, and underscores</div>
            <div class="form-error" ng-show="registerForm.username.$error.minlength">The Username cannot be less than 3 characters</div>
            <div class="form-error" ng-show="registerForm.username.$error.maxlength">The Username cannot exceed 15 characters</div>
            <div class="form-error" ng-show="registerForm.password.$error.maxlength">The Password cannot exceed 100 characters</div>
            <div class="form-error" ng-show="registerForm.password.$error.minlength">The Password cannot be less than 5 characters</div>
            <div class="form-error" ng-show="registerForm.confirmPassword.$error.compareTo && registerForm.confirmPassword.$dirty">The Passwords do not match</div>
            <div class="form-error" ng-show="hasMessage">{{message}}</div>

          </div>

          <button type="submit" ng-disabled="registerForm.$invalid" class="button button-full button-clear button-dark">
            Register
          </button>
        </form>

        <div ng-show="dataLoading" class="spinner">
          <ion-spinner icon="android"></ion-spinner>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>
