<ion-view view-title="Account">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-content>
    <ion-list>
        <!-- <ion-toggle ng-model="settings.enableFriends">
          Enable Friends
        </ion-toggle> -->

          <button class="button button-full" ng-click="openChangePasswordModal()">
            Change Password
          </button>

          <button class="button button-full" ng-click="logout()">
            Logout
          </button>


    </ion-list>
  </ion-content>

  <script id="change-password-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-dark">
          <div class="h1 title">Change Password</div>
          <button class="button button-clear button-light" ng-click="closeChangePasswordModal()">Close</button>
      </ion-header-bar>
      <ion-content>
        <form role="form" novalidate name="changePasswordForm" ng-submit="changePassword(changePasswordForm, passwords)">
          <ion-list>

            <label class="item item-input item-floating-label">
                <span class="input-label">Current password</span>
                <input type="password" autocomplete="off" name="password" required ng-minlength="5" ng-maxlength="100" placeholder="Current password" ng-model="passwords.currentPassword">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">New password</span>
                <input type="password" autocomplete="off" name="newPassword" required ng-minlength="5" ng-maxlength="100" placeholder="New password" ng-model="passwords.newPassword">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Confirm password</span>
                <input type="password" autocomplete="off" name="confirmPassword" compare-to="passwords.newPassword" required ng-minlength="5" ng-maxlength="100" placeholder="Confirm password" ng-model="passwords.confirmNewPassword">
            </label>

          </ion-list>

          <div class="padding">
            <div class="form-error" ng-show="changePasswordForm.newPassword.$error.maxlength">The new password cannot exceed 100 characters</div>
            <div class="form-error" ng-show="changePasswordForm.newPassword.$error.minlength">The new password cannot be less than 5 characters</div>
            <div class="form-error" ng-show="changePasswordForm.confirmPassword.$error.compareTo && changePasswordForm.confirmPassword.$dirty">The new passwords do not match</div>
            <div class="form-error" ng-show="errorMessage">{{errorMessage}}</div>
            <div class="form-success" ng-show="successMessage">{{successMessage}}</div>
          </div>

          <button type="submit" ng-disabled="changePasswordForm.$invalid || dataLoading" class="button button-full button-clear button-dark">
            Change Password
          </button>
        </form>

        <div ng-show="dataLoading" class="spinner">
          <ion-spinner icon="android"></ion-spinner>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

</ion-view>
