<ion-view title="Log">

  <ion-nav-bar class="bar-dark">
  <ion-nav-buttons side="right">
            <button class="button" ng-disabled="isToday()" ng-click="today()">Today</button>
            <button class="button" ng-click="changeMode('month')">M</button>
            <button class="button" ng-click="changeMode('week')">W</button>
            <button class="button" ng-click="changeMode('day')">D</button>
            <button class="button" ng-click="openNewWorkoutModal()"><i class="icon ion-ios-plus-outline add-icon"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false" class="main-content">







        <calendar ng-model="calendar.currentDate" calendar-mode="calendar.mode" event-source="calendar.eventSource"
                  range-changed="reloadSource(startTime, endTime)"
                  event-selected="onEventSelected(event)" title-changed="onViewTitleChanged(title)"
                  time-selected="onTimeSelected(selectedTime, events)" step="30"></calendar>

                  <div ng-show="dataLoading" class="spinner">
                    <ion-spinner icon="android"></ion-spinner>
                  </div>
    </ion-content>

    <script id="new-workout-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar-dark">
            <div class="h1 title">New Workout</div>
            <button class="button button-clear button-light" ng-click="closeNewWorkoutModal()">Close</button>
        </ion-header-bar>
        <ion-content>
          <form role="form" novalidate name="newWorkoutForm" ng-submit="saveWorkout(newWorkoutForm)">
            <ion-list>
              <label class="item item-input">
                <span class="input-label">Workout Name</span>
                <input type="text" autocomplete="off" name="name" maxlength="50" required ng-maxlength=50 placeholder="Workout Name" ng-model="selectedWorkout.name">
              </label>

              <label class="item item-input"  name="startDate" required ion-datetime-picker ng-model="selectedWorkout.startDate">
                <span class="input-label">Start Date</span>
                {{selectedWorkout.startDate | date: "MM-dd-yyyy h:mm a"}}
              </label>
              <label class="item item-input" name="endDate" required ion-datetime-picker ng-model="selectedWorkout.endDate">
                <span class="input-label">End Date</span>
                {{selectedWorkout.endDate | date: "MM-dd-yyyy h:mm a"}}
              </label>

            </ion-list>

            <div class="padding" ng-show="newWorkoutForm.$invalid">
              <div class="form-error" ng-show="newWorkoutForm.name.$error.required">Workout name is required</div>
              <div class="form-error" ng-show="newWorkoutForm.startDate.$error.required">Start date is required</div>
              <div class="form-error" ng-show="newWorkoutForm.endDate.$error.required">End date is required</div>
            </div>

            <button type="submit" ng-disabled="newWorkoutForm.$invalid" class="button button-full button-balanced">
              Create Workout
            </button>
          </form>

          <div ng-show="dataLoading" class="spinner">
            <ion-spinner icon="android"></ion-spinner>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>


    <script id="existing-workout-modal.html" type="text/ng-template">
      <ion-modal-view>
        <form role="form" novalidate name="existingWorkoutForm" ng-submit="saveExistingWorkout(existingWorkoutForm, selectedWorkout.id)">
          <ion-header-bar align-title="left" class="bar-dark">
            <button type="button" class="button button-assertive" ng-click="deleteWorkout(selectedWorkout.id)">Remove</button>
            <h1 class="title">Edit Workout</h1>
            <button type="submit" ng-disabled="existingWorkoutForm.$invalid" class="button button-clear button-light" ng-click="closeExistingWorkoutModal()">Close</button>
          </ion-header-bar>

          <ion-content>
            <!-- <div class="bar bar-header bar-dark">
              <button class="button button-assertive" ng-click="deleteWorkout(selectedWorkout.id)">Remove</button>
              <h1 class="title">Edit Workout</h1>
              <button class="button button-clear button-light" ng-click="closeExistingWorkoutModal()">Close</button>
            </div> -->

            <!-- <label class="item item-input">
              <span class="input-label">Workout Name</span>
              <input type="text" ng-model="selectedWorkout.name">
            </label>
            <div class="button-bar">
            <button class="button button-clear button-positive" ng-click="openTimePicker('start')">
              <span ng-hide="selectedWorkout.startTimeText">Start Time</span>
              <span ng-show="selectedWorkout.startTimeText">{{selectedWorkout.startTimeText}}</span>
            </button>
            <button class="button button-clear button-positive" ng-click="openTimePicker('end')">
              <span ng-hide="selectedWorkout.endTimeText">End Time</span>
              <span ng-show="selectedWorkout.endTimeText">{{selectedWorkout.endTimeText}}</span>
            </button>
          </div> -->

          <ion-list>
            <label class="item item-input">
              <span class="input-label">Workout Name</span>
              <input type="text" autocomplete="off" name="name" required placeholder="Workout Name" ng-model="selectedWorkout.name">
            </label>

            <label class="item item-input" name="startDate" required ion-datetime-picker ng-model="selectedWorkout.startDate">
              <span class="input-label">Start Date</span>
              {{selectedWorkout.startDate | date: "MM-dd-yyyy h:mm a"}}
            </label>
            <label class="item item-input" name="endDate" required ion-datetime-picker ng-model="selectedWorkout.endDate">
              <span class="input-label">End Date</span>
              {{selectedWorkout.endDate | date: "MM-dd-yyyy h:mm a"}}
            </label>
            <label class="item item-input">
              <div class="form-error" ng-show="existingWorkoutForm.name.$error.required">Workout name is required</div>
              <div class="form-error" ng-show="existingWorkoutForm.startDate.$error.required">Start date is required</div>
              <div class="form-error" ng-show="existingWorkoutForm.endDate.$error.required">End date is required</div>
            </label>
          </ion-list>

          <!-- <div class="button-bar">
           <button class="button button-clear button-positive" ng-click="openTimePicker('start')">

            <span>Start Time</span>
            <span ng-show="selectedWorkout.startTimeText">{{selectedWorkout.startTimeText}}</span>
          </button>
          <button class="button button-clear button-positive" ng-click="openTimePicker('end')">
            <span>End Time</span>
            <span ng-show="selectedWorkout.endTimeText">{{selectedWorkout.endTimeText}}</span>
          </button>
        </div> -->


          <ion-list>
            <a class="item item-icon-left item-icon-right">
              <i class="icon ion-ios-minus-outline delete-icon"  ng-click="toggleExerciseDelete()"></i>
              <strong>Exercises</strong>
              <i class=" icon ion-ios-plus-outline add-icon"  ng-click="addExercise(selectedWorkout.id)"></i>
            </a>
          </ion-list>

          <ion-list show-delete="showExerciseDelete">
            <ion-item ng-repeat="(eKey, exercise) in selectedWorkout.exercises">
              <span ng-show="selectedWorkout.exercises[eKey].name !== ''">{{selectedWorkout.exercises[eKey].name}} </span>
              <span ng-show="selectedWorkout.exercises[eKey].name === ''">New Exercise </span>
              <span class="badge badge-positive">{{selectedWorkout.exercises[eKey].setQuantity}}</span>

              <ion-delete-button class="ion-minus-circled" ng-click="deleteExercise(selectedWorkout.id, selectedWorkout.exercises[eKey]._id)"> </ion-delete-button>
              <ion-option-button class="button-balanced icon ion-compose" ng-click="editExerciseModal(selectedWorkout.id, selectedWorkout.exercises[eKey]._id)"> </ion-option-button>
            </ion-item>
          </ion-list>

          <div ng-show="dataLoading" class="spinner">
            <ion-spinner icon="android"></ion-spinner>
          </div>
          </ion-content>
        </form>
      </ion-modal-view>
    </script>

    <script id="exercise-modal.html" type="text/ng-template">
      <ion-modal-view>
        <form role="form" novalidate name="exerciseForm" ng-submit="saveExercise(exerciseForm, selectedWorkout.id, exerciseId)">
          <ion-header-bar class="bar-dark">
              <div class="h1 title">Edit Exercise</div>
              <button type="submit" ng-disabled="exerciseForm.$invalid" class="button button-clear button-light">Close</button>
          </ion-header-bar>
          <ion-content>


              <label class="item item-input">
                <span class="input-label">Exercise Name</span>
                <input type="text" autocomplete="off" required maxlength="50" name="name" ng-maxlength="50" ng-model="selectedWorkout.exercises[exerciseKey].name">
              </label>
              <div class="padding">
                <div class="form-error" ng-show="exerciseForm.name.$error.required">Exercise name is required</div>
                <div class="form-error" ng-show="exerciseForm.name.$error.maxlength">Exercise name cannot exceed 50 characters</div>
              </div>
          <ion-list>
            <a class="item item-icon-left item-icon-right">
              <i class="icon ion-ios-minus-outline delete-icon"  ng-click="toggleSetDelete()"></i>
              <strong>Sets</strong>
              <i class="icon ion-ios-plus-outline add-icon"  ng-click="addSet(selectedWorkout.id, selectedWorkout.exercises[exerciseKey]._id)"></i>
            </a>
          </ion-list>

          <ion-list show-delete="showSetDelete">
            <ion-item ng-repeat="(sKey, set) in selectedWorkout.exercises[exerciseKey].sets">
              <ng-pluralize count="selectedWorkout.exercises[exerciseKey].sets[sKey].reps" when="{'1': '{{selectedWorkout.exercises[exerciseKey].sets[sKey].reps}} rep',

                       'other': '{{selectedWorkout.exercises[exerciseKey].sets[sKey].reps}} reps'}">
              </ng-pluralize> @

              <ng-pluralize count="selectedWorkout.exercises[exerciseKey].sets[sKey].weight" when="{'1': '{{selectedWorkout.exercises[exerciseKey].sets[sKey].weight}} lb',

                       'other': '{{selectedWorkout.exercises[exerciseKey].sets[sKey].weight}} lbs'}">
              </ng-pluralize>

              <ion-delete-button class="ion-minus-circled" ng-click="deleteSet(selectedWorkout.id, selectedWorkout.exercises[exerciseKey]._id, selectedWorkout.exercises[exerciseKey].sets[sKey]._id)"> </ion-delete-button>
              <ion-option-button class="button-balanced icon ion-compose" ng-click="editSetModal(selectedWorkout.id, selectedWorkout.exercises[exerciseKey]._id, selectedWorkout.exercises[exerciseKey].sets[sKey]._id)"> </ion-option-button>
            </ion-item>
          </ion-list>

          <div ng-show="dataLoading" class="spinner">
            <ion-spinner icon="android"></ion-spinner>
          </div>
          </ion-content>
        </form>
      </ion-modal-view>
    </script>

    <script id="set-modal.html" type="text/ng-template">
      <ion-modal-view>
        <form role="form" novalidate name="setForm" ng-submit="saveSet(setForm, workoutId, exerciseId, setId)">
          <ion-header-bar class="bar-dark">
              <div class="h1 title">Edit Set</div>
              <button type="submit" ng-disabled="setForm.$invalid" class="button button-clear button-light">Close</button>
          </ion-header-bar>
          <ion-content>

              <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label">Reps</span>
                <input type="number" name="reps" placeholder="Reps" maxlength="4" ng-maxlength="4" required ng-model="selectedWorkout.exercises[exerciseKey].sets[setKey].reps">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Weight</span>
                <input type="number" name="weight" placeholder="Weight" maxlength="4" ng-maxlength="4" required ng-model="selectedWorkout.exercises[exerciseKey].sets[setKey].weight">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Note</span>
                <input type="text" autocomplete="off" name="note" placeholder="Note" maxlength="255" ng-maxlength="255" ng-model="selectedWorkout.exercises[exerciseKey].sets[setKey].note">
              </label>

              <div class="padding">
                <div class="form-error" ng-show="setForm.reps.$error.required">Reps are required</div>
                <div class="form-error" ng-show="setForm.reps.$error.maxlength">Reps cannot exceed 9999</div>
                <div class="form-error" ng-show="setForm.weight.$error.required">Weight is required</div>
                <div class="form-error" ng-show="setForm.weight.$error.maxlength">Weight cannot exceed 9999</div>
              </div>

          </div>

          <div ng-show="dataLoading" class="spinner">
            <ion-spinner icon="android"></ion-spinner>
          </div>
          </ion-content>
        </form>
      </ion-modal-view>
    </script>
</ion-view>
