/* Empty. Add your own CSS if you like */


/* login */

#login-logo {
  margin: 0 auto;
  display: block;
  width: 65px;
}

.login-form {
  margin-top: 50px;
}

.login-options {
  margin-top: 75px;
}

/* end of login */

div.spinner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 50px;
  text-align: center;
  z-index: 9999
}
.spinner svg {
  width: 19% !important;
  height: 50px !important;
}


.delete-icon {
  color: #ef473a;
}

.add-icon {
  color: #33cd5f;
}

.form-error {
  color: red;
}

.form-success {
  color: #33cd5f;
}
